@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;

      scrollbar-width: none;
    }
  }
}

/* .react-datepicker {
  

  width: auto !important
}

@media (max-width: 768px) {
  .react-datepicker {
    min-width:  calc(100vw - 5rem) !important
  }
} */

.react-datepicker__month-container {
  width: 100% !important;
}

.react-datepicker__day {
  width: 2.5rem !important;
  height: 2.5rem !important;
  font-size: 1.25rem !important;
  color: #090909 !important;
  cursor: pointer;
  font-family: inherit !important;
  font-weight: 300 !important;
  padding-top: .5rem !important;
  transition: background-color 0.2s !important;
}

.react-datepicker__day-name {
  font-size: 1.25rem !important;
  width: 2.5rem !important;
  height: 2.5rem !important;
  color: #DB7C26 !important;
}

.react-datepicker__month {
  width: 100% !important;
  margin: 0 !important;
}

.react-datepicker__current-month {
  color: #090909 !important;
  font-weight: 300 !important;
}

.react-datepicker__day-names {
  margin: 0 !important;
}

.react-datepicker__navigation {
  background-color: rgba(234, 234, 234, 0.56) !important;
  border: none;
  border-radius: 50%;
  font-size: 1rem !important;
  color: #f0f0f0 !important;
  transition: background-color 0.2s;
}

.react-datepicker__week {
  width: 100% !important;
}

.react-datepicker__day--selected {
  background-color: #DB7C26 !important;
  color: #f0f0f0 !important;
}

.react-datepicker__navigation-icon::before {
  top: 10px !important;
  width: 1rem !important;
  height: 1rem !important;
  border-color: rgba(219, 124, 38, 0.56) !important;
}

.react-datepicker__navigation .react-datepicker__navigation--previous {
  top: 2.5% !important
}


.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
  width: 1rem !important;
  height: 1rem !important;
  border-color: rgba(219, 124, 38, 0.56) !important;
}

.react-datepicker__year-read-view {
  font-size: 1.25rem !important;
}

.react-datepicker__year-read-view {
  display: flex !important;
  width: 100% !important;
}

.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow {
  right: -1.5em !important;
}

.react-datepicker__header {
  border: none !important
}

.react-datepicker__day--disabled {
  background: rgba(166, 66, 83, 0.24) !important;
  color: rgba(234, 234, 234, 0.56) !important
}