@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;

      scrollbar-width: none;
    }

    .scrollbar-custom {
      /* scrollbar-gutter: stable both-edges; */
      scrollbar-width: thin;
      scrollbar-color: #00a86b #0e0e0e;
      transition: all 0.25s ease-in-out;
    }
    .scrollbar-custom::hover {
      scrollbar-color: #66ff66 #0e0e0e;
    }
  }
}

@media (max-height: 875px) {
  .overlay-custom {
    min-height: 875px !important;
  }
}
